<section class="Courses_info_section">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-10 offset-sm-1 col-12">
				<div class="Courses_info text-center">
					<h2>How to Apply</h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="course_chs_panel">
	<div class="container">
		<div id="accordion">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12 col-12">
					<div class="curs_panel">
						<div class="card-header" id="heading1">
							<h5 class="mb-0">
								<button class="btn btn-link" data-toggle="collapse" data-target="#collapse" aria-expanded="true" aria-controls="collapse">
									Choose Course
									<i class="fas fa-plus"></i>
								</button>
							</h5>
						</div>

						<div id="collapse" class="collapse" aria-labelledby="heading1" data-parent="#accordion">
							<div class="card-body">
								Lorem Ipsum is simply dummy text of the printing and typesetting industry.
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-12">
					<div class="curs_panel">
						<div class="card-header" id="heading2">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
									Create Profile
									<i class="fas fa-plus"></i>
								</button>
							</h5>
						</div>
						<div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
							<div class="card-body">
								Lorem Ipsum is simply dummy text of the printing and typesetting industry.
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-12">
					<div class="curs_panel">
						<div class="card-header" id="heading3">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
									Complete Test
									<i class="fas fa-plus"></i>
								</button>
							</h5>
						</div>
						<div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
							<div class="card-body">
								Lorem Ipsum is simply dummy text of the printing and typesetting industry.
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-12">
					<div class="curs_panel">
						<div class="card-header" id="heading4">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
									Interview
									<i class="fas fa-plus"></i>
								</button>
							</h5>
						</div>
						<div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
							<div class="card-body">
								Lorem Ipsum is simply dummy text of the printing and typesetting industry.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="chs_box_section">
	<div class="container">
		<div class="chs_box">
			<div class="row">
				<div class="col-lg-5 col-md-12 col-sm-12 col-12">
					<div class="chs_box_heading">
						<h3>Program</h3>
						<h5>Full Time</h5>
						<p> <b>Duration:</b> 30 weeks </p>
						<%= image_tag "fulltime.gif" ,class: "img-fluid" %>
					</div>
				</div>
				<div class="col-lg-7 col-md-12 col-sm-12 col-12 brd_left">
					<div class="chs_box_cont">
						<div class="chs_box_detail">
							<h4>Full Stack Web Development</h4>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
							<a href="<%=courses_detail_path%>">Explore course
								<%= image_tag "course_icon.png" ,class: "course_icon" %>
							</a>
						</div>
						<div class="chs_box_detail">
							<h4>Web Designing</h4>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
							<a href="<%=designing_detail_path%>">Explore course
								<%= image_tag "course_icon.png" ,class: "course_icon" %>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="gd_prg_section">
	<div class="container">
		<div class="gd_prf_head text-center">
			<h2>Glide Program</h2>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
		</div>
		<div class="gd_prg_box">
			<ul class="list-inline">
				<li class="list-inline-item">
					<div class="gd_prg_info">
						<div class="gd_prg_img">
							<%= image_tag "prg1.png" ,class: "img-fluid" %>
						</div>
						<div class="gd_prg_txt">
							<p> Discipline <br> &amp; <br> Attendance </p>
						</div>
					</div>
				</li>
				<li class="list-inline-item">
					<div class="gd_prg_info">
						<div class="gd_prg_img">
							<%= image_tag "prg2.png" ,class: "img-fluid" %>
						</div>
						<div class="gd_prg_txt">
							<p> Task <br> Assignments </p>
						</div>
					</div>
				</li>
				<li class="list-inline-item">
					<div class="gd_prg_info">
						<div class="gd_prg_img">
							<%=image_tag "prg3.png" ,class: "img-fluid" %>
						</div>
						<div class="gd_prg_txt">
							<p> Scores in Assessments </p>
						</div>
					</div>
				</li>
				<li class="list-inline-item">
					<div class="gd_prg_info">
						<div class="gd_prg_img">
							<%=image_tag "prg4.png" ,class: "img-fluid" %>
						</div>
						<div class="gd_prg_txt">
							<p> Team Work </p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="chs_box_section">
	<div class="container">
		<div class="chs_box chs_box1">
			<div class="row">
				<div class="col-lg-7 col-md-12 col-sm-12 col-12 brd_right">
					<div class="chs_box_cont">
						<div class="chs_box_detail">
							<h4>Full Stack Web Development</h4>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
							<a href="<%=courses_detail_path%>">Explore course
								<%=image_tag "course_icon.png" ,class: "course_icon" %>
							</a>
						</div>
						<div class="chs_box_detail">
							<h4>Web Designing</h4>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
							<a href="<%=designing_detail_path%>">Explore course
								<%=image_tag "course_icon.png" ,class: "course_icon" %>
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-5 col-md-12 col-sm-12 col-12">
					<div class="chs_box_heading">
						<h3>Program</h3>
						<h5>Part Time</h5>
						<p> <b>Duration:</b> 30 weeks </p>
						<%=image_tag "parttime.gif" ,class: "img-fluid" %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
