<section class="cur_stack_info_section">
  <div class="container">
    <div class="cur_stack_info">
      <div class="cur_stack_img">
        <%=image_tag "android_devlop.gif" ,class: "img-fluid" %>
      </div>
      <div class="cur_stack_txt">
        <h2>Full Stack Development</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
      </div>
    </div>
  </div>
</section>

<div class="cur_topic_section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-10 offset-sm-1 col-12">
        <div class="cur_topic_name">
          <div class="curtp_txt">
            <%=image_tag "shape_bg.png" ,class: "img-fluid" %>
            <h5>Ruby on rails</h5>
          </div>
          <div class="curtp_img">
            <%=image_tag "ruby.jpg" ,class: "img-fluid" %>
          </div>
        </div>
        <div class="cur_topic_name1">
          <div class="curtp_txt">
            <%=image_tag "shape_bg.png" ,class: "img-fluid" %>
            <h5>Python</h5>
          </div>
          <div class="curtp_img">
            <%=image_tag "Python.jpg" ,class: "img-fluid" %>
          </div>
        </div>
        <div class="cur_topic_name">
          <div class="curtp_txt">
            <%=image_tag "shape_bg.png" ,class: "img-fluid" %>
            <h5>Ruby on rails</h5>
          </div>
          <div class="curtp_img">
            <%= image_tag "ruby.jpg" ,class: "img-fluid" %>
          </div>
        </div>
        <div class="cur_topic_name1">
          <div class="curtp_txt">
            <%=image_tag "shape_bg.png" ,class: "img-fluid" %>
            <h5>Python</h5>
          </div>
          <div class="curtp_img">
            <%=image_tag "Python.jpg" ,class: "img-fluid" %>
          </div>
        </div>
        <div class="cur_topic_name">
          <div class="curtp_txt">
            <%=image_tag "shape_bg.png" ,class: "img-fluid" %>
            <h5>Ruby on rails</h5>
          </div>
          <div class="curtp_img">
            <%=image_tag "ruby.jpg" ,class: "img-fluid" %>
          </div>
        </div>
        <div class="cur_topic_name1">
          <div class="curtp_txt">
            <%=image_tag "shape_bg.png" ,class: "img-fluid" %>
            <h5>Python</h5>
          </div>
          <div class="curtp_img">
            <%=image_tag "Python.jpg", class: "img-fluid" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="curs_curr_section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1 col-md-10 offset-md-1 col-sm-12 col-12">
        <div class="curs_curr_head text-center">
          <h3>Course Curriculum</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
        </div>
        <div class="curs_curr_box">
          <h5>Ruby on rails  (Week1 - week6)</h5>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="curs_curr_box">
          <h5>Ruby on rails  (Week1 - week6)</h5>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="curs_curr_box">
          <h5>Ruby on rails  (Week1 - week6)</h5>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="curs_curr_box">
          <h5>Ruby on rails  (Week1 - week6)</h5>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="curs_curr_box">
          <h5>Ruby on rails  (Week1 - week6)</h5>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
      </div>
    </div>
  </div>
</div>
