<div class="dvl_box">
  <div class="devloper_info">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-12">
          <div class="devp_info_img">
            <%= image_tag "men.png" ,class: "img-fluid" %>
          </div>
        </div>
        <div class="col-md-8 col-sm-8 col-12">
          <div class="devp_info_text">
            <h3>Sumit Raghuwanshi</h3>
            <h4> <%= image_tag "profile.png" ,class: "img-fluid" %>
              Full Stack Developer</h4>
            <ul class="list-inline skills">
              <%=image_tag "skills.png" ,class: "img-fluid" %>
              <li class="list-inline-item">Ruby</li>
              <li class="list-inline-item">Rails</li>
              <li class="list-inline-item">Database</li>
              <li class="list-inline-item">Framework</li>
            </ul>
            <h5>
              <%=image_tag "exp.png" ,class: "img-fluid"%>
              2yrs to 5yrs
            </h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="devloper_info">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-12">
          <div class="devp_info_img">
            <%= image_tag "men.png" ,class: "img-fluid" %>
          </div>
        </div>
        <div class="col-md-8 col-sm-8 col-12">
          <div class="devp_info_text">
            <h3>Sumit Raghuwanshi</h3>
            <h4> <h4> <%= image_tag "profile.png" ,class: "img-fluid" %>
              Full Stack Developer</h4>
            <ul class="list-inline skills">
              <%=image_tag "skills.png" ,class: "img-fluid" %>
              <li class="list-inline-item">Ruby</li>
              <li class="list-inline-item">Rails</li>
              <li class="list-inline-item">Database</li>
              <li class="list-inline-item">Framework</li>
            </ul>
            <h5>
              <%=image_tag "exp.png" ,class: "img-fluid"%>
              2yrs to 5yrs
            </h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="devloper_info">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-12">
          <div class="devp_info_img">
            <%= image_tag "men.png" ,class: "img-fluid" %>
          </div>
        </div>
        <div class="col-md-8 col-sm-8 col-12">
          <div class="devp_info_text">
            <h3>Sumit Raghuwanshi</h3>
            <h4><h4> <%= image_tag "profile.png" ,class: "img-fluid" %>
              Full Stack Developer</h4>
            <ul class="list-inline skills">
              <%=image_tag "skills.png" ,class: "img-fluid" %>
              <li class="list-inline-item">Ruby</li>
              <li class="list-inline-item">Rails</li>
              <li class="list-inline-item">Database</li>
              <li class="list-inline-item">Framework</li>
            </ul>
            <h5>
              <%=image_tag "exp.png" ,class: "img-fluid"%>
              2yrs to 5yrs
            </h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="devloper_info">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-12">
          <div class="devp_info_img">
            <%= image_tag "men.png" ,class: "img-fluid" %>
          </div>
        </div>
        <div class="col-md-8 col-sm-8 col-12">
          <div class="devp_info_text">
            <h3>Sumit Raghuwanshi</h3>
            <h4><h4> <%= image_tag "profile.png" ,class: "img-fluid" %>
              Full Stack Developer</h4>
            <ul class="list-inline skills">
              <%=image_tag "skills.png" ,class: "img-fluid" %>
              <li class="list-inline-item">Ruby</li>
              <li class="list-inline-item">Rails</li>
              <li class="list-inline-item">Database</li>
              <li class="list-inline-item">Framework</li>
            </ul>
            <h5>
              <%=image_tag "exp.png" ,class: "img-fluid"%>
              2yrs to 5yrs
            </h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="devloper_info">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-12">
          <div class="devp_info_img">
            <%= image_tag "men.png" ,class: "img-fluid" %>
          </div>
        </div>
        <div class="col-md-8 col-sm-8 col-12">
          <div class="devp_info_text">
            <h3>Sumit Raghuwanshi</h3>
            <h4><h4> <%= image_tag "profile.png" ,class: "img-fluid" %>
              Full Stack Developer</h4>
            <ul class="list-inline skills">
              <%=image_tag "skills.png" ,class: "img-fluid" %>
              <li class="list-inline-item">Ruby</li>
              <li class="list-inline-item">Rails</li>
              <li class="list-inline-item">Database</li>
              <li class="list-inline-item">Framework</li>
            </ul>
            <h5>
              <%=image_tag "exp.png" ,class: "img-fluid"%>
              2yrs to 5yrs
            </h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="devloper_info">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-12">
          <div class="devp_info_img">
            <%= image_tag "men.png" ,class: "img-fluid" %>
          </div>
        </div>
        <div class="col-md-8 col-sm-8 col-12">
          <div class="devp_info_text">
            <h3>Sumit Raghuwanshi</h3>
            <h4><h4> <%= image_tag "profile.png" ,class: "img-fluid" %>
              Full Stack Developer</h4>
            <ul class="list-inline skills">
              <%=image_tag "skills.png" ,class: "img-fluid" %>
              <li class="list-inline-item">Ruby</li>
              <li class="list-inline-item">Rails</li>
              <li class="list-inline-item">Database</li>
              <li class="list-inline-item">Framework</li>
            </ul>
            <h5>
              <%=image_tag "exp.png" ,class: "img-fluid"%>
              2yrs to 5yrs
            </h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="devloper_info">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-12">
          <div class="devp_info_img">
            <%= image_tag "men.png" ,class: "img-fluid" %>
          </div>
        </div>
        <div class="col-md-8 col-sm-8 col-12">
          <div class="devp_info_text">
            <h3>Sumit Raghuwanshi</h3>
            <h4><h4> <%= image_tag "profile.png" ,class: "img-fluid" %>
              Full Stack Developer</h4>
            <ul class="list-inline skills">
              <%=image_tag "skills.png" ,class: "img-fluid" %>
              <li class="list-inline-item">Ruby</li>
              <li class="list-inline-item">Rails</li>
              <li class="list-inline-item">Database</li>
              <li class="list-inline-item">Framework</li>
            </ul>
            <h5>
            <%=image_tag "exp.png" ,class: "img-fluid"%>
             2yrs to 5yrs
            </h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
