<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand logo_img" href="javascript:;">
      <%=image_tag "logo.png" ,class: "img-fluid" %>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav navbar_menu ml-auto">
        <li class="nav-item active">
        <a class="nav-link" href="<%= root_path %>"> Home </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="<%= about_us_path %>"> About Us </a>
        </li>
        <li class="nav-item <%= get_active_class('stacks')%>">
          <a class="nav-link" href="<%= stacks_path %>"> Stacks </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="<%= developers_path %>"> Developer </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="<%= courses_path %>"> Courses </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="<%= contact_us_path %>"> Contact Us </a>
        </li>
        <li class="nav-item">
          <% if user_signed_in? %>
            <%= current_user.name %><br/>
          <% else %>
            <a class="nav-link" href="<%= new_user_session_path %>"> Sign In </a>
          <% end %>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="<%= current_user && current_user.general_information ?  new_test_path : general_informations_path  %>"> Apply Now </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--navbar close here-->
<div class="banner">
  <div class="overlay">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="slider_text">
          <h2>No Teachers, Only Developers</h4>
          <p>An Experienced IT developer can provide you proper training</p>
          <!-- <h2>No Teacher, only Developers</h2>
          <p>Only A Real IT Developer Can Provide You Proper Training</p> -->
        </div>
      </div>
      <div class="carousel-item">
        <div class="slider_text">
          <h2>No Boring Classes</h4>
          <p>Only Practical work to get real work experience </p>
          <!-- <h2>No boring classes</h2>
          <p>Here We Only Deal With Practical Work</p> -->
        </div>
      </div>
      <div class="carousel-item">
        <div class="slider_text">
          <h2>It's never too late to Learn</h4>
          <p>Interviewer always seeks for technical candidate</p>
          <!-- <h2>It's never too late to Study</h2> -->
          <!-- <p>Interviewer Always Seeks For Technical Canndidate</p> -->
        </div>
      </div>
      <div class="carousel-item">
        <div class="slider_text">
          <h2>The Best Training Institute</h4>
          <p>Good training empowers you and your career</p>
          <!-- <h2>The best training institute</h2>
          <p>Successful Career Starts With Good Training</p> -->
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
<!--banner div close here-->
<div class="box about_box mb-5">
  <div class="container">
    <div class="page_heading">
      <h2 class="logo_color text-center">About Us</h2>
    </div>
    <div class="about_text text-center">
      <p>We are a team of highly experienced developers in Ruby on Rails(ROR). We are professionals who are already working in an IT Company and are aware of the actual training process of the corporate world. We are experienced in providing training to freshers in our company and have come up with this idea to provide the same to freshers who are seeking for jobs. Something more about  <a href="#" data-toggle="modal" data-target="#corporate_training" class="modal-link"> KodesCare</a></p>
    </div>
    <!-- Modal -->
<div id="corporate_training" class="modal fade" role="dialog" data-backdrop="static">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p>
          Adroit Corporate Training, how I come up with this training classes? it's a short story based on some real facts.
        </p>
        <br>
        <p>
          Let me introduce my self, I'm a Sr. ROR developer in one of the IT company located in Indore(M.P.). During the hiring process in our company, I've taken so many interviews of candidates for their technical round. 80% of the candidates mention in their resume, that they have taken certain training from XYZ classes, which was of duration 2,3 or even of 6 months. If anyone adds in their resume that they have already taken some training, our expectation increases from them. But I always start with the basic technical questions related to their course and training which they have taken.
        </p>
        <br>
        <p>
          But, I found that 80% of students who have taken training don't have basic knowledge about the language/course they have done in classes. And come out with a similar type of reason that they have not done or not get proper practical training.
        </p>
        <br>
        <p>
          To me, one thing is very clear that without practical work/tasks no one can understand the proper working flow of any language. Only theoretical classes don't provide you deep understanding of the workflow. But when you start work on the things practically you will get lot's of issues wand, during resolving those issues, you will learn new things on your own and that's how work goes on in an IT company, by resolving the things practically not theoretically.
        </p>
      </div>
    </div>

  </div>
</div>

  </div>
</div>
<!--about div close here-->
<div class="box choose_box mb-5">
  <div class="container">
    <div class="page_heading">
      <h2 class="logo_color text-center">Why KodesCare?</h2>
        <h5 class="logo_color text-center">Real World Training Along With Real world Developers</h5>
    </div>
    <div class="choose_text text-center">
      <p>We only provide corporate training in Ruby on Rails(ROR). We are committed to helping our freshers to reach their goals, and providing an innovative environment.You can easily compare us by getting practical knowledge with other institutes who will give you theoretical knowledge. We has adopted the progressive approach to technology and lay special focus on our training techniques.
      </p>
      <p>As a consequence, we strive to deliver the hands-on experience which we acquire from our projects. We help you manage projects and build confidence in your technology career. Here you can acquire experience & sharpen your skills amidst your training.</p>
      <p>Now ball is in your court!</p>
    </div>
  </div>
</div>
<!--choose div close here-->
<div class="box traning_box mb-5">
  <div class="container">
    <div class="page_heading">
      <h2 class="logo_color text-center">How KodesCare benefit you?</h2>
      <h5 class="logo_color text-center">Get a skill, Get a job, Get ahead</h5>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-12 flex">
        <div class="trn_box trn_box1">
          <div class="box-item">
            <div class="flip-box">
              <div class="flip-box-front text-center">
                <div class="inner color-white">
                  <h3 class="flip-box-header">Benefits</h3>
                  <p>of RoR</p>
                </div>
              </div>
              <div class="flip-box-back text-center">
                <div class="inner color-white">
                  <ul>
                <li><span class="fa fa-circle-o" aria-hidden="false"></span>RoR teams build applications 30–40% faster than teams using other frameworks.</li>
                    <li><span class="fa fa-circle-o" aria-hidden="true"></span>RoR community supports number of gems which solves real-time problems.</li>
                    <li><span class="fa fa-circle-o" aria-hidden="true"></span>Top websites who have used ruby on rails framework-- GitHub, AirBnB, Shopify, Twitter many more..</li>
                    <li><span class="fa fa-circle-o" aria-hidden="true"></span> On job portals, it is the top most demanded programming languages. </li>
                  </ul>
                
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-12 flex">
        <div class="trn_box trn_box2">
          <div class="box-item">
            <div class="flip-box">
              <div class="flip-box-front text-center">
                <div class="inner color-white">
                  <h3 class="flip-box-header">Benefits</h3>
                  <p>During Training</p>
                </div>
              </div>
              <div class="flip-box-back text-center">
                <div class="inner color-white">
                  <ul>
                    <li>You will work on projects which are almost similar to the live projects.</li>
                    <li>You will Get training from highly experienced developer to learn and earn</li>
                    <li>You will get work environment similar to an IT company.</li>
                    <li>You will be assigned with tasks to complete in group which will help you to become Full Stack Web Developer </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-12 flex">
        <div class="trn_box trn_box3">
          <div class="box-item">
            <div class="flip-box">
              <div class="flip-box-front text-center">
                <div class="inner color-white">
                  <h3 class="flip-box-header">Benefits</h3>
                  <p>After Training</p>
                </div>
              </div>
              <div class="flip-box-back text-center">
                <div class="inner color-white">
                  <ul>
                    <li>You will get upto 30 days doubt clearing session.</li>
                    <li>We will provide you interview questions based on ROR.</li>
                    <li>Update your Resume by adding new skills as well as demo projects details.</li>

                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Training box close here-->
<div class="box career_box mb-5">
  <div class="container">
    <div class="page_heading">
      <h2 class="logo_color text-center">Start Your Career Journey With Us
</h2>
<h5 class="logo_color text-center">take the step,we’ll lead you forward</h5>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 flex">
        <div class="career_img">
          <%= image_tag "career.jpg" ,class: "img-fluid"%>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="career_text">
          <ul class="list-unstyled">
            <li><span> <i class="fas fa-location-arrow"></i></span>
              <p>We are seeking an employee who will view job as an opportunity to advance their career (who may be you).
              </p>
            </li>  
            <li><span> <i class="fas fa-location-arrow"></i></span>
              <p>We prefer to hire a tech-savvy candidate who is already aware of technology (who can be you).</p>
            </li>
            <li><span> <i class="fas fa-location-arrow"></i></span>
              <p>We are providing Corporate Training to understand the workflow of real projects (which is an advantage).</p>
            </li>
            <li><span> <i class="fas fa-location-arrow"></i></span>
              <p>After training, for dedicate candidate , we will give plenty of opportunities (which you should grab).</p>
            </li>
             <li><span> <i class="fas fa-location-arrow"></i></span>
              <p>Get training from experienced professionals, start your career and earn along with us (So Apply Now).</p>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!--all button close here-->
<div class="box student_box mb-5">
  <div class="container">
    <div class="page_heading">
      <h2 class="logo_color text-center">Students Say</h2>
    </div>
    <div class="student_slider">
      <div class="owl-carousel owl-theme">
        <div class="item">
          <div class="std_box">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
            <div class="std_foot">
              <div class="std_ft_img">
              <%= image_tag "user.png"%>
              </div>
              <h5>Amit</h5>
              <h6>Placed in Yuvasoft Solutions</h6>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="std_box">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
            <div class="std_foot">
              <div class="std_ft_img">
              <%= image_tag "user.png"%>
              </div>
              <h5>Ankit</h5>
              <h6>Placed in an IT company of Mumbai</h6>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="std_box">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
            <div class="std_foot">
              <div class="std_ft_img">
              <%= image_tag "user.png"%>
              </div>
              <h5>Sweta</h5>
              <h6>Done Internship</h6>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="std_box">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
            <div class="std_foot">
              <div class="std_ft_img">
              <%= image_tag "user.png"%>
              </div>
              <h5>Zainab</h5>
              <h6>Done Internship</h6>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="std_box">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
            <div class="std_foot">
              <div class="std_ft_img">
              <%= image_tag "user.png"%>
              </div>
              <h5>Rahul</h5>
              <h6>Placed in Kliftox Technology</h6>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="std_box">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
            <div class="std_foot">
              <div class="std_ft_img">
              <%= image_tag "user.png"%>
              </div>
              <h5>Dolly</h5>
              <h6>Placed in Kliftox Technology</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--student div close here-->
<div class="box course_box mb-5">
  <div class="container">
    <div class="page_heading">
      <h2 class="logo_color text-center">Choose</h2>
      <h5 class="logo_color text-center"> Learn new skills, pursue your interests or advance your career with our short online courses.
</h5>
    </div>
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-10 offset-sm-1 col-12">
        <div class="course_text text-center">
         <!--  <p>
            We have multiple courses, but for now we have IT techs who are specialized in Ruby on Rails and Web Designing.
          </p> -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 flex">
        <div class="chs_course_box text-center text-white">
          <a href="<%= courses_path %>">
            <%= image_tag "ror.png" ,class: "curs_img" %>
            <h3>RoR Development</h3>
            <ul class="list-inline">
              <li class="list-inline-item">
               <%=image_tag "database.png" %>
              </li>
              <li class="list-inline-item">
                <%=image_tag "bug.png" %>
              </li>
              <li class="list-inline-item">
                <%=image_tag "js.png" %>
              </li>
            </ul>
          </a>
        </div>
      </div>
      
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 flex">
        <div class="chs_course_box text-center text-white">
          <a href="<%= courses_path %>">
            <%= image_tag "web_design.png" ,class: "curs_img" %>
            <h3>Web Designing</h3>
            <ul class="list-inline">
              <li class="list-inline-item">
                <%=image_tag "html.png" %>
              </li>
              <li class="list-inline-item">
                <%= image_tag "css.png" %>
              </li>
              <li class="list-inline-item">
                 <%=image_tag "js.png" %>
              </li>
            </ul>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--course box div close here-->
<div class="box contact_box mb-5">
  <div class="container">
    <div class="page_heading">
      <h2 class="logo_color text-center">Contact Us</h2>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-12 flex">
        <div class="cont_box">
          <div class="cont_left"><i class="fas fa-phone-alt"></i></div>
          <div class="cont_right">+91-9977450900</div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-12 flex">
        <div class="cont_box">
          <div class="cont_left"><i class="fas fa-envelope"></i></div>
          <div class="cont_right">info@kodescare.com</div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-12 flex">
        <div class="cont_box">
          <div class="cont_left"><i class="fas fa-map-marker-alt"></i></div>
          <div class="cont_right">M-14, Sai Ram Plaza, 63 Mangal Nagar Road, Bhawarkua, Indore</div>
        </div>
      </div>
    </div>
  </div>
</div>
