<div class="topic_section">
  <div class="container">
    <div class="tpc_box">
      <h2 class="topic_pg_heading">Langugage</h2>
      <div class="tpc_content tpc_rt">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="tpc_content_img">
              <%= image_tag "ruby.jpg" ,class: "img-fluid" %>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="tpc_content_text">
              <div class="tct_hding">
                <h5>Ruby</h5>
              </div>
              <div class="tct_txt">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tpc_content tpc_lt">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="tpc_content_text">
              <div class="tct_hding">
                <h5>Python</h5>
              </div>
              <div class="tct_txt">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="tpc_content_img">
              <%=image_tag "Python.jpg" ,class: "img-fluid" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="tpc_box">
      <h2 class="topic_pg_heading">Framework</h2>
      <div class="tpc_content tpc_rt">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="tpc_content_img">
              <%= image_tag "ruby.jpg" ,class: "img-fluid" %>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="tpc_content_text">
              <div class="tct_hding">
                <h5>Rails</h5>
              </div>
              <div class="tct_txt">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tpc_content tpc_lt">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="tpc_content_text">
              <div class="tct_hding">
                <h5>Django</h5>
              </div>
              <div class="tct_txt">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="tpc_content_img">
              <%=image_tag "postgresql.jpg" ,class: "img-fluid" %>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="tpc_box">
      <h2 class="topic_pg_heading">Database</h2>
      <div class="tpc_content tpc_rt">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="tpc_content_img">
              <%= image_tag "database.jpg" ,class: "img-fluid" %>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="tpc_content_text">
              <div class="tct_hding">
                <h5>MySQL</h5>
              </div>
              <div class="tct_txt">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tpc_content tpc_lt">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="tpc_content_text">
              <div class="tct_hding">
                <h5>PostgreSQL</h5>
              </div>
              <div class="tct_txt">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="tpc_content_img">
              <%=image_tag "postgresql.jpg" ,class: "img-fluid" %>
            </div>
          </div>
        </div>
      </div>
      <div class="tpc_content tpc_rt">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="tpc_content_img">
              <%=image_tag "MongoDB.jpg" ,class: "img-fluid" %>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="tpc_content_text">
              <div class="tct_hding">
                <h5>MongoDB</h5>
              </div>
              <div class="tct_txt">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tpc_box">
      <h2 class="topic_pg_heading">Web Designing</h2>
      <div class="tpc_content tpc_lt">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="tpc_content_text">
              <div class="tct_hding">
                <h5>HTML</h5>
              </div>
              <div class="tct_txt">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="tpc_content_img">
              <%= image_tag "HTML.jpg" ,class: "img-fluid" %>
            </div>
          </div>
        </div>
      </div>
      <div class="tpc_content tpc_rt">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="tpc_content_img">
              <%=image_tag "css.jpeg" ,class: "img-fluid" %>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="tpc_content_text">
              <div class="tct_hding">
                <h5>CSS</h5>
              </div>
              <div class="tct_txt">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tpc_content tpc_lt">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="tpc_content_text">
              <div class="tct_hding">
                <h5>Java Script</h5>
              </div>
              <div class="tct_txt">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="tpc_content_img">
              <%= image_tag "javascript.jpg" ,class: "img-fluid" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tpc_box">
      <h2 class="topic_pg_heading">Other</h2>
      <div class="tpc_content tpc_rt">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="tpc_content_img">
              <%=image_tag "bug-img.jpg" ,class: "img-fluid" %>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="tpc_content_text">
              <div class="tct_hding">
                <h5>Bug</h5>
              </div>
              <div class="tct_txt">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tpc_content tpc_lt">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="tpc_content_text">
              <div class="tct_hding">
                <h5>Maintenance</h5>
              </div>
              <div class="tct_txt">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="tpc_content_img">
              <%= image_tag "web-maintenance.jpg" ,class: "img-fluid" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
