<div class="topic_section">
  <div class="container">
    <div class="tpc_box">
      <h2 class="topic_pg_heading">Langugage</h2>
      <div class="tpc_content tpc_rt">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="tpc_content_img">
              <%= image_tag "ruby.jpg" ,class: "img-fluid" %>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="tpc_content_text">
              <div class="tct_hding">
                <h5>Ruby</h5>
              </div>
              <div class="tct_txt">
                <p align = "justify"><span class="fa fa-check" aria-hidden="true"></span> Ruby is an interpreted, high-level, general-purpose programming language.<br> <span class="fa fa-check" aria-hidden="true"></span> It was designed and developed in the mid-1990s by Yukihiro "Matz" Matsumoto in Japan.<br><span class="fa fa-check" aria-hidden="true"></span> It supports multiple programming paradigms, including procedural, object-oriented, and functional programming.<br><span class="fa fa-check" aria-hidden="true"></span> Ruby was influenced by Perl, Smalltalk, Eiffel, Ada, BASIC, and Lisp.<br>
                <span class="fa fa-check" aria-hidden="true"></span> Everybody knows Ruby is the perfect language for MVPs, prototypes, and startups.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
       <div class="tpc_box">
      <h2 class="topic_pg_heading">Framework</h2>
      <div class="tpc_content tpc_lt">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="tpc_content_text">
              <div class="tct_hding">
                <h5>Ruby on Rails</h5>
              </div>
              <div class="tct_txt">
                <p align="justify"><span class="fa fa-check" aria-hidden="true"></span> Ruby on Rails emergence in 2005 greatly influenced web app development, through innovative features such as seamless database table creations, migrations,scaffolding of views to enable rapid application development,WEBrick, a simple Ruby web server that is distributed with Ruby, and Rake, a build system, distributed as a gem.<br><br>
                <span class="fa fa-check" aria-hidden="true"></span> Ruby on Rails influence on other web frameworks remains apparent today, with many frameworks in other languages borrowing its ideas, including Django in Python, Catalyst in Perl, Laravel, CakePHP and Yii in PHP, Grails in Groovy, Phoenix in Elixir, Play in Scala, and Sails.js in Node.js.<br><br>
                <span class="fa fa-check" aria-hidden="true"></span> Ruby on Rails includes tools that make common development tasks easier "out-of-the-box".
</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="tpc_content_img">
              <%=image_tag "ror.jpg" ,class: "img-fluid" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    
    <div class="tpc_box">
      <h2 class="topic_pg_heading">Database</h2>
      <div class="tpc_content tpc_rt">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="tpc_content_img">
              <%= image_tag "database.jpg" ,class: "img-fluid" %>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="tpc_content_text">
              <div class="tct_hding">
                <h5>MySQL</h5>
              </div>
              <div class="tct_txt">
                <p align="justify"><span class="fa fa-check" aria-hidden="true"></span> MySQL is an open-source relational database management system (RDBMS).<br> <br>
                  <span class="fa fa-check" aria-hidden="true"></span> A relational database organizes data into one or more data tables in which data types may be related to each other; these relations help structure the data.<br> <br>
                  <span class="fa fa-check" aria-hidden="true"></span> SQL is a language programmers use to create, modify and extract data from the relational database, as well as control user access to the database.<br> <br>
                  <span class="fa fa-check" aria-hidden="true"></span> In addition to relational databases and SQL, an RDBMS like MySQL works with an operating system to implement a relational database in a computers storage system, manages users, allows for network access and facilitates testing database integrity and creation of backups.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tpc_content tpc_lt">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="tpc_content_text">
              <div class="tct_hding">
                <h5>PostgreSQL</h5>
              </div>
              <div class="tct_txt">
                <p align="justify"><span class="fa fa-check" aria-hidden="true"></span> PostgreSQL also known as Postgres, is a free and open-source relational database management system (RDBMS) emphasizing extensibility and SQL compliance.<br> <br>
                  <span class="fa fa-check" aria-hidden="true"></span> PostgreSQL is a powerful and has earned a strong reputation for reliability, feature robustness, and performance.<br><br>
                  <span class="fa fa-check" aria-hidden="true"></span> PostgreSQL is an advanced version of SQL which provides support to different functions of SQL like foreign keys, subqueries, triggers, and different user-defined types and functions.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="tpc_content_img">
              <%=image_tag "postgresql.jpg" ,class: "img-fluid" %>
            </div>
          </div>
        </div>
      </div>
      <div class="tpc_content tpc_rt">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="tpc_content_img">
              <%=image_tag "MongoDB.jpg" ,class: "img-fluid" %>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="tpc_content_text">
              <div class="tct_hding">
                <h5>MongoDB</h5>
              </div>
              <div class="tct_txt">
                <p align="justify">
                  <span class="fa fa-check" aria-hidden="true"></span> MongoDB is an open source NoSQL database management program.<br><br>
                  <span class="fa fa-check" aria-hidden="true"></span> NoSQL is used as an alternative to traditional relational databases.<br><br><span class="fa fa-check" aria-hidden="true"></span> NoSQL databases are quite useful for working with large sets of distributed data.<br><br>
                  <span class="fa fa-check" aria-hidden="true"></span> MongoDB is a tool that can manage document-oriented information, store or retrieve information.<br> <br>
                <span class="fa fa-check" aria-hidden="true"></span>Organizations can use Mongo DB for its ad-hoc queries, indexing, load balancing, aggregation, server-side JavaScript execution and other features.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tpc_box">
      <h2 class="topic_pg_heading">Web Designing</h2>
      <div class="tpc_content tpc_lt">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="tpc_content_text">
              <div class="tct_hding">
                <h5>HTML</h5>
              </div>
              <div class="tct_txt">
                <p align="justify"><span class="fa fa-check" aria-hidden="true"></span> The HyperText Markup Language, or HTML is the standard markup language for documents designed to be displayed in a web browser.<br> <span class="fa fa-check" aria-hidden="true"></span> It can be assisted by technologies such as Cascading Style Sheets (CSS) and scripting languages such as JavaScript.<br> <span class="fa fa-check" aria-hidden="true"></span> Web browsers receive HTML documents from a web server or from local storage and render the documents into multimedia web pages.<br> <span class="fa fa-check" aria-hidden="true"></span> HTML describes the structure of a web page semantically and originally included cues for the appearance of the document.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="tpc_content_img">
              <%= image_tag "HTML.jpg" ,class: "img-fluid" %>
            </div>
          </div>
        </div>
      </div>
      <div class="tpc_content tpc_rt">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="tpc_content_img">
              <%=image_tag "css.jpeg" ,class: "img-fluid" %>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="tpc_content_text">
              <div class="tct_hding">
                <h5>CSS</h5>
              </div>
              <div class="tct_txt">
                <p align="justify"><span class="fa fa-check" aria-hidden="true"></span> Cascading Style Sheets (CSS) is a style sheet language used for describing the presentation of a document written in a markup language such as HTML.<br><br><span class="fa fa-check" aria-hidden="true"></span> CSS is a cornerstone technology of the World Wide Web, alongside HTML and JavaScript.<br><br><span class="fa fa-check" aria-hidden="true"></span> 
                CSS is designed to enable the separation of presentation and content, including layout, colors, and fonts.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tpc_content tpc_lt">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="tpc_content_text">
              <div class="tct_hding">
                <h5>Java Script</h5>
              </div>
              <div class="tct_txt">
                <p align="justify"><span class="fa fa-check" aria-hidden="true"></span> JavaScript often abbreviated as JS, is a programming language that conforms to the ECMAScript specification.<br>
                <span class="fa fa-check" aria-hidden="true"></span> JavaScript is high-level, often just-in-time compiled, and multi-paradigm. <br> <span class="fa fa-check" aria-hidden="true"></span> It has curly-bracket syntax, dynamic typing, prototype-based object-orientation, and first-class functions.<br>
                <span class="fa fa-check" aria-hidden="true"></span> 
                Alongside HTML and CSS, JavaScript is one of the core technologies of the World Wide Web. Over 97% of websites use it client-side for web page behavior, often incorporating third-party libraries.<br><span class="fa fa-check" aria-hidden="true"></span> Most web browsers have a dedicated JavaScript engine to execute the code on the user's device.

</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="tpc_content_img">
              <%= image_tag "javascript.jpg" ,class: "img-fluid" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tpc_box">
      <h2 class="topic_pg_heading">Other</h2>
      <div class="tpc_content tpc_rt">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="tpc_content_img">
              <%=image_tag "bug-img.jpg" ,class: "img-fluid" %>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="tpc_content_text">
              <div class="tct_hding">
                <h5>Debug</h5>
              </div>
              <div class="tct_txt">
                <p align="justify"><span class="fa fa-check" aria-hidden="true"></span> Debugging is the art of diagnosing errors in programs and determining how to correct them.<br><br><span class="fa fa-check" aria-hidden="true"></span> "Bugs" come in a variety of forms, including: coding errors, design errors, complex interactions, poor user interface designs, and system failures.<br><br> <span class="fa fa-check" aria-hidden="true"></span> Learn Debugging in Ruby On Rails with some special debugging tools.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tpc_content tpc_lt">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="tpc_content_text">
              <div class="tct_hding">
                <h5>Maintenance</h5>
              </div>
              <div class="tct_txt">
                <p align="justify"><span class="fa fa-check" aria-hidden="true"></span> Since 94% of first impressions relate to web design, people may come away with a poor first impression of your business if your site isn’t up to date and functional. <br>
                  <span class="fa fa-check" aria-hidden="true"></span> Additionally, if you’re an ecommerce business and your ecommerce functionality fails, people won’t be able to purchase your products.<br>
                <span class="fa fa-check" aria-hidden="true"></span> Website maintenance refers to the tasks required to keep your website functioning properly and up to date.<br><span class="fa fa-check" aria-hidden="true"></span> It involves regularly checking your website for issues, correcting any issues, and making updates.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="tpc_content_img">
              <%= image_tag "web-maintenance.jpg" ,class: "img-fluid" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
