<div class="container-fluid">
  <a class="navbar-brand logo_img" href="javascript:;">
    <%=image_tag "logo.png" ,class: "img-fluid", style: "position: absolute;"%>
  </a>
</div>
<div>
<% if @invalid_test %>
  <center><p>You have already submitted test and you need to wait 90 days after test submission to attempt next test</p></center>
  <% else %>
<center></br>
  <h1>Kodescare School Test</h1>
    <%=form_for @test do |f| %><br>
    <p> Test Competency Level</p>
      <% @testfors.each do |testfor| %>
      <br>
      <%= f.radio_button :status, testfor.level %>
      <%= testfor.level %>
    <% end %>  
    <br>  
      <%= f.submit 'Start Test', disabled: true %>
  <% end %>
 </center>
<% end %>
</div>

<script>

$(function(){
    $("input[type='radio']").change(function(){

        $("input[type='submit']").prop("disabled", false);
        
    });
});

</script>