<div class="container-fluid">
  <a class="navbar-brand logo_img" href="javascript:;">
    <%=image_tag "logo.png" ,class: "img-fluid", style: "position: absolute;"%>
  </a>
</div>
<div>
  <% if @invalid_test %>
    <center><p>You have already submitted test and you need to wait 90 days after test submission to attempt next test</p></center>
  <% else %>
    <center></br>
    <h1>Kodescare School Test</h1>
    <div class="apply-form">
      <%=form_for @test do |f| %><br>
        <h3> <b><u>Please Select Test Competency Level </u></h3>
        <br>
        <% @testfors.each do |testfor| %>
          <%= f.radio_button :status, testfor.level %>
          <%= f.label :status, :value => testfor.level %>
        <% end %>
        <br>  
        <%= f.submit 'Start Test', disabled: true %>
      <% end %>
    </div>
    </center>
  <% end %>
</div>

<script>
$(function(){
    $("input[type='radio']").change(function(){

        $("input[type='submit']").prop("disabled", false);
        
    });
});

</script>