  <div class="page_heading">
    <h2 class="logo_color text-center">Information Request</h2>
  </div>

<div class="row">
  <div class="col-lg-8 offset-md-2 col-md-8 offset-md-2 col-sm-10 offset-sm-1 col-12">
    <%= hidden_field_tag 'step', 'info'  %>
    <div class="form-group">
    <h3>Date of Birth:</h3>
    <div>
      <%= f.date_field :dob, placeholder: "" %>
    </div>
    </div>
    <div class="form-group">
      <h3>Gender:</h3>
      <div>
        <%= f.select :gender, ['Male', 'Female', 'Other'], prompt: 'Select Gender' %>
      </div>
    </div>

    <div class="form-group">
      <h3>Graduation Year:</h3>
      <div>
        <%= f.select :graduation_year, (Date.today.year-10)..(Date.today.year+5) , prompt: 'Select' %>
      </div>
    </div>

    <div class="form-group">
      <h3>Are you looking for job immediately after Kodescare?</h3>
      <div class="form-check">
        <%= f.radio_button :full_time_work, 'yes', :checked=> true, class: "form-check-input" %>
        <label class="form-check-label"> Yes </label>
      </div>
      <div class="form-check">
        <%= f.radio_button :full_time_work, 'no', class: "form-check-input" %>
        <label class="form-check-label">No</label>
      </div>
    </div>

    <div class="form-group">
      <h3>How did you hear of KodeScare?</h3>
      <div>
        <%= f.select :how_hear, ['Facebook', 'Google', 'Instagram', 'YouTube', 'Newspaper', 'Online Article', 'Friend/Family', 'Others', 'None'], prompt: 'Select' %>
      </div>
       <%= hidden_field_tag 'step', 'info'  %>
    </div>
    <div class="form-group">
      <%= f.button "Back", :name => "back_button", class: "btn btn-danger" %>
    </div>
   <div class="form-group">
  <%= f.submit "Submit", class: "btn btn-danger" %>
</div>
  </div>   
</div>