<div class="page_heading">
  <h2 class="logo_color text-center">Let's Know Your Preparation Level</h2>
 </div>

<div class="row">
  <div class="col-lg-8 offset-md-2 col-md-8 offset-md-2 col-sm-10 offset-sm-1 col-12">
    <div class="form-group radio_btn">
      <h3>Choose your course:</h3>
      <% @general_information.courses.keys.each do |key|%>
        <div class="form-check">
          <%= hidden_field_tag 'step', 'program'  %>
            <%= f.radio_button :course, key, :checked => true, class: "form-check-input" %>
            <label class="form-check-label" >
              <%= @general_information.courses[key] %>
            </label>
        </div>
      <%end%>
    </div> 
  <div class="form-group radio_btn">
    <h3>Mode of Study:</h3>
    <div class="form-check">
      <%= f.radio_button :attend, 'fulltime', :checked => true, class: "form-check-input" %>
    <label class="form-check-label">Full Time</label>
  </div>
<div class="form-check">
    <%= f.radio_button :attend, 'parttime', class: "form-check-input" %>
  <label class="form-check-label">Part Time</label>
</div>
</div>

<div class="form-group">
  <h3>Mode of class:</h3>
  <div class="form-check">
    <%= f.radio_button :class_type, 'online', :checked => true, class: "form-check-input" %>
   <label class="form-check-label"> Online </label>
  </div>
  <div class="form-check">
    <%= f.radio_button :class_type, 'offline', class: "form-check-input" %>
    <label class="form-check-label">Offline</label>
  </div>
</div>

<div class="form-group">
  <h3>Do you have laptop/desktop for course?</h3>
  <div class="form-check">
    <%= f.radio_button :is_laptop, 'yes', checked: true, class: "form-check-input"%>
  <label class="form-check-label">Yes</label>
</div>
  <div class="form-check">
    <%= f.radio_button :is_laptop, 'no', class: "form-check-input" %>
  <label class="form-check-label">No</label>
  </div>
</div>
  <%#= f.hidden_field :step, value: "program"%>
  <%= hidden_field_tag 'step', 'program'  %>
<div class="form-group">
  <%= f.submit "Continue", class: "btn btn-danger" %>
</div>

</div>
